body {
    background-color: lightblue;
    margin: 0.5em;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: darkblue;
    text-align: center; 

}

img {
    width: 50vh;
}

div img {
    width: 50%;
}

label {
    margin: 10px;
    display: inline-block;
    width: 100%;
}


form {
    background-color: darkblue;
    display:inline-block;
    width: 30%;
    color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid white;
    min-width: 300px;
    max-width: 700px;
}

input {
    margin: 10px;
    /* min-width: 200px; */
    /* max-width: 300px; */
    display: inline-block;
    
}

label #button {
    width: auto;
    text-align: left;
    margin: 5px;
    display: inline-block;
    text-align: left;
}

hr {
    border: 1px solid darkblue;
    min-width: 300px;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Submit Button */
input[type="submit"] {
    background-color: blueviolet;
    color: white;
    margin: 4em;
}

/* Text Area */
textarea {
margin: 2em;
text-align: center;
border: 2px solid black;
max-width: 300;
}

/* /* input[type="checkbox"  */
    
#check {
    margin: 5%;
    display: inline-block;
}

#name-label, #email-label, #number-label {
 
}

/* Forms */
label {
    display: block;
}


